{% extends 'base.html' %} {% block body %}

<div class="container">
  <h1>Employee Management System</h1>
  <hr />
  <a type="button" href="/all_emp" class="btn btn-primary" role="button"
    >View all Employee</a
  >
  <a type="button" href="/add_emp" class="btn btn-primary" role="button"
    >Add an Employee</a
  >
  <a type="button" href="/remove_emp" class="btn btn-primary" role="button"
    >Remove an Employee</a
  >
  <a type="button" href="/filter_emp" class="btn btn-primary" role="button"
    >Filter Employe Details</a
  >
</div>
{% endblock %}
